# Ignore all target and test-output directories recursively
**/target/
**/test-output/

# Ignore all allure-report and allure-results directories recursively
**/allure-report/
**/allure-results/

# IntelliJ project files
.idea/
*.iml
*.iws
**/workspace.xml
**/shelf/

# Logs and temp files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db